<h1>BOOKS</h1>

<ul>
  <li><a href="/books/new">Create New Book</a></li>
  <li><a href="/loans/new">Check out a book</a></li>
  <li><a href="/books/available">See all available books</a></li>
  <li><a href="/books/on-loan">See all books on loan</a></li>
</ul>

<% for book in @books %>
  <p>Image: <%= book.image %><br>
    Title: <%= book.title %><br>
    Author: <%= book.author %><br>
    Illustrator: <%= book.illustrator %><br>
  </p>
  <p><a href="/books/<%= book.id %>">See book details</a></p>

<% end %>
