<div class= "books_nav">
  <div class ="book_nav_title">
      <h2><a href="/books">Books</a></h2>
  </div>
  <div class="books_nav_menu">
    <ul>
      <li><a href="/books/new">Add a book</a></li>
      <li><a href="/loans/new">Check out a book</a></li>
      <li><a href="/books/available">Available books</a></li>
      <li><a href="/books/on-loan">Books on loan</a></li>
    </ul>
  </div>
</div>

<div class ="show_book">
  <p><img class ="book_image" src ="/images/<%= @book.image %>"/><br>
    <strong>Title:</strong> <%= @book.title %><br>
    <strong>Author:</strong> <%= @book.author %><br>
    <strong>Illustrator:</strong> <%= @book.illustrator %><br>
    <strong>Age Range:</strong> <%= @book.age_range %><br>
    <strong>Checked in/out:</strong> <%= @book.checked_out %><br>
  </p>
<form method="get" action="/books/<%= @book.id %>/edit">
  <input type="submit" value="Edit Book"/>
</form>
<br>
<form method="post" action="/books/<%= @book.id %>/delete">
  <input type="submit" value="Delete Book"/>
</form>
</div>
