

  <p>Image: <%= @book.image %><br>
    Title: <%= @book.title %><br>
    Author: <%= @book.author %><br>
    Illustrator: <%= @book.illustrator %><br>
    Age Range: <%= @book.age_range %><br>
    Checked out? <%= @book.checked_out %><br>
  </p>
<br>
<form method="get" action="/books/<%= @book.id %>/edit">
  <input type="submit" value="Edit Book"/>
</form>
<form method="post" action="/books/<%= @book.id %>/delete">
  <input type="submit" value="Delete Book"/>
</form>
<br>
