

  <p>Image: <%= @book.image %><br>
    Title: <%= @book.title %><br>
    Author: <%= @book.author %><br>
    Illustrator: <%= @book.illustrator %><br>
    Age Range: <%= @book.age_range %><br>
    Checked in/out <%= @book.checked_out %><br>
  </p>
