<h1>ALL BOOKS OUT ON LOAN</h1>

<% for book in @books %>
  <p>Image: <%= book.image %><br>
    Title: <%= book.title %><br>
    Author: <%= book.author %><br>
    Illustrator: <%= book.illustrator %><br>
    Age Range: <%= book.age_range %><br>
    Checked out? <%= book.checked_out %><br>
  </p>

<% end %>
