

<% for loan in @loans %>
<table>
  <tr>
    <th>Loan ID</th>
    <th>Member</th>
    <th>Book</th>
    <th>Due back</th>
    <th>Action</th>
  </tr>
  <tr>
    <td><%= loan.id %></td>
    <td><%=loan.member.name%></td>
    <td><%= loan.book.title %></td>
    <td><%= loan.due_back %></td>
    <td><form method="post" action="/loans/<%=loan.id %>/delete">
      <input type="submit" value="Return Book"/>
    </form></td>
  </tr>
</table>
<% end %>
