<div class="members_nav">
  <div class ="members_nav_title">
    <h2><a href="/members">Members</a></h2>
  </div>
  <div class="members_nav_menu">
    <ul>
      <li><a href="/members/new">Create new member</a></li>
      <li><a href="/loans">See all loans</a></li>
    </ul>
  </div>
</div>
<br>
<h2>All loans</h2>
<table>
  <tr>
    <th>Loan ID</th>
    <th>Member</th>
    <th>Book</th>
    <th>Due back</th>
    <th>Action</th>
  </tr>
  <% for loan in @loans %>
  <tr>
    <td><%= loan.id %></td>
    <td><%=loan.member.name%></td>
    <td><%= loan.book.title %></td>
    <td><%= loan.due_back %></td>
    <td><form method="post" action="/loans/<%=loan.id %>/delete">
      <input type="submit" value="Return Book"/>
    </form></td>
  </tr>
  <% end %>
</table>
